<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign-up User</title>
</head>

<body>
    {{if .UserName}} User Name: {{.UserName}}
    <br/> Password: {{.Password}}
    <br/> First Name: {{.FirstName}}
    <br/> Last Name: {{.LastName}}
    <br/>
    <h2>
        <a href="/logout">log out</a>
    </h2>
    {{else}}
    <h2>
        Please
        <a href="/signup"> Sign up</a>
    </h2>
    <h2>
        <a href="/login">log in</a>
    </h2>
    {{end}}
</body>

<br>
<h2>Go to
    <a href="/userDetails">Go to User Details</a>
</h2>

</html>